.card-course-item{
    margin-top: 16px;
}
.count-delete-documents{
    display: inline-block;
    font-weight: 500;
    background-color: rgb(231, 44, 69);
    padding: 0px 5px;
    border-radius: 50%;
}